* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: red;
}

.titulo {
    z-index: 1;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-around;
}
.titulo h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 3rem;

}
.menu a {
    color: black;
    height: 1.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size:  1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}
.menu a:active{
    background-color: black;
    color:white;
}

#logoBanner {
    width: 20vh;
}

main h2{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
}
.mainP {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

section {
    display: flex;
    width: 80%;
    height: 350px;
    background-color: red;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow:2px 2px rgba(0,0,0,0.443) ;
}
section img ,div {
    height: 100%;
}
section img{
    width: 50%;
    border-radius: 1rem 0 0 1rem;
}
section div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
section div h4{
    font-size: 2.5rem;
}
section div p{
    font-size: 1.5rem;
}

.sectionAbout{
    display: flex;
    justify-content: center;
    height:max-content;
    margin-left: 10%;
    margin-top: 3%;
}

.containerRules{
    display: flex;
    height: 100%;
    background-color: red;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow:2px 2px rgba(0,0,0,0.443) ;
}


table {
    background-color: aliceblue;
    height: 70vh;
    width: 50rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    caption-side: bottom;
}

table, th, td {
    border: 5px solid;
    border-color: black;
    text-align: center;
}

th {
    background-color: black;
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}
.infoRules{
    width: fit-content;
}